/*
基本設定
*/
*{
    box-sizing: border-box;
    overflow:inherit;
    background-color:aliceblue;
    font-style:normal;
}


    
}

.nav {
    font-size: 30px;
   height: 100px;
}
h1{
    font-size: 25px;
    height: 40px;
    color: darkgray;}

header{
    font-size: 40px;
    text-align: center;
    color: #4A5951;
    margin: auto;
    width: auto;
}

div{
    text-align: center;
}

.img{padding: 10px;
border: 10px ;
}
    
    

.word,.explain,.story{
    color: darkslategray;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 11px;
    padding:20px center;
    border: 5px solid #E8DCD0;
    margin: 10px ;
}